{% extends "error_layout.html" %}
{% block body %}
	<h1><i class="fa fa-warning text-yellow"></i>400 error?  Uhh-oh!</h1>
	<p style = "text-align: center;">
		<br />
		You did something wrong and I am telling!
		<br /><br />
		You better check and make sure you are suppose to do whatever it is you did.
		<br /><br />
		I mean it, you don't want to get into any trouble.
		<br /><br />
		<b>Seriously</b>, Check your stuff and make sure you are doing it right...
		<br /><br />
		If I were you, I wouldn't try THAT again..
		<br /><br />
	</p>
{% endblock %}
