{% extends "error_layout.html" %}
{% block body %}
	<h1><i class="fa fa-warning text-yellow"></i>Wrong turn there!</h1>
	<p style = "text-align: center;">
		<br />
		This area is completely off limits to the likes of you!
		<br /><br />
		No really,,, highly sensitve and secure stuff going on here.
		<br /><br />
		I mean it, you should get going, like now!
		<br /><br />
		<b>Maybe</b>, you didn't hear me...
		<br /><br />
		I would head out before security notices you being here, seriously.
		<br /><br />
		Well I'm leaving, so as to not get caught talking to you!
		<br /><br />
	</p>
{% endblock %}
