{% extends "error_layout.html" %}
{% block body %}
	<h1 class="headline text-yellow"> 404</h1>
	<div class="error-content">
		<h1><i class="fa fa-warning text-yellow"></i> Oh Snap!</h1>
		<p style = "text-align: center;">
			<br />
			Looks like something went horribly wrong somewhere in the Internets.
			<br />
			As a result, the page you've requested isn't available.
			<br /><br />
			Or maybe it doesn't exist.
			<br /><br />
			<b>Maybe</b>, it never existed.
			<br /><br />
			Maybe this page is a figment of your imagination.
			<br /><br />
			<i style = "font-size:22px;">Did we just blow your mind?</i>
			<br /><br />
			Regardless, move along - nothing to see here.
			<br /><br />
		</p>
	</div>
{% endblock %}
