{% extends "error_layout.html" %}
{% block body %}
	<h1 class="headline text-yellow"> 410</h1>
	<div class="error-content">
		<h1><i class="fa fa-warning text-yellow"></i>Man, are you deep in the woods now!</h1>
		<p style = "text-align: center;">
			<br /><br />
			It seems you got lost....<br />or the thing you are looking for is no where to be found.
			<br /><br />
			Like the dinosuars of old, it is extinct.
			<br /><br />
			Like a dead parrot, its pining for the fjords,<br /> or perhaps it is just stunned.
			<br /><br />
			<b>Maybe</b>, it never was really here -- like a ninja.
			<br /><br />
			What ever it is, or was rather, it is flown the coop.
			<br /><br />
			I suggest that you keep moving., less you get "lost" too!
			<br /><br />
		</p>
	</div><!-- /.error-content -->
{% endblock %}