<!-- Notifications: style can be found in dropdown.less -->
<li class="dropdown notifications-menu">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-bell-o"></i>
		<span class="label label-warning">14</span>
	</a>
	<ul class="dropdown-menu">
		<li class="header">You have 14 notifications</li>
		<li>
			<!-- inner menu: contains the actual data -->
			<ul class="menu">
				<li>
					<a href="#">
						<i class="fa fa-users text-green"></i>1. Add index to listing of products summary display page
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-users text-green"></i>2. Add background colorization to store columns to show quick glance state of product -- RED - not in store  Yellow -- in store not active  Green -- on store and active.
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-users text-red"></i>3. Add slide out panel for each product to give all details of product shown
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-users text-red"></i>4. Add unique filtering to each column -- not just across all of them
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-users text-red"></i>5. Remove sorting on non data items -- images
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-users text-red"></i>6. Add login piece to secure user's data
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-users text-red"></i>7. Add user profile display for stores user has accounts on
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-users text-green"></i>8. Move notice option to top level nav (top right corner)
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-users text-green"></i>9. Add "MyOrders" option to left nav follow same table grid format.
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-users text-red"></i>10. Change data load to JSON call for each store's data for user -- more secure beginning of common core interface to backing database.
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-users text-red"></i>11.  Add user profile under settings -- for login into Crossroads
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-users text-red"></i>12.  Build out of APP class object for base storage of application data points
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-users text-red"></i>13. Build out of each store class object for base storage of user's data for that given store
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-users text-red"></i>14.  Build out of user class object for base storage of users information -- login, settings and configuration.
					</a>
				</li>
			</ul>
		</li>
		<li class="footer"><a href="notices">View all</a></li>
	</ul>
</li>